._2dQmZ {
  background: #e9e9e9;
  padding: 40px 0;
  margin-bottom: 40px; }

._3JzNI {
  width: 33%; }
  ._3JzNI ._1TGS6 {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center; }
    ._3JzNI ._1TGS6 svg {
      width: 100px;
      height: 100px;
      fill: #8c28f2; }
  ._3JzNI p {
    text-align: center;
    width: 90%;
    margin: 0 auto; }
  ._3JzNI h3 {
    color: #590aaa;
    text-align: center;
    width: 90%;
    margin: 20px auto;
    padding-bottom: 12px;
    border-bottom: 1px solid #dedede; }

._3HNsP h2, ._3HNsP h3, ._3HNsP h4, ._3HNsP h5, ._3HNsP h6 {
  color: #590aaa; }

._3HNsP h2 {
  font-size: 20px; }

._3QArG img {
  margin-right: 8px; }

.UrFGQ {
  background: #590aaa;
  color: #e9e9e9;
  padding-bottom: 20px; }
  .UrFGQ h2 {
    font-size: 250%; }
  .UrFGQ .btn {
    margin-right: 16px; }
._2uFxP {
  position: relative;
  overflow: hidden; }
  ._2uFxP:hover .DxCBI {
    transition: all .3s;
    bottom: 6px; }

.DxCBI {
  display: flex;
  position: absolute;
  width: 100%;
  height: 30px;
  left: 0;
  bottom: -30px;
  justify-content: center;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  align-items: center;
  line-height: 1; }
._2YCjB, .-YhMq dd a:hover:after, .-YhMq dd a.router-link-active:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: #590aaa; }

[data-path^="/components"] .IXdHe h1 {
  font-size: 22px; }

[data-path^="/components"] .IXdHe h2 {
  font-size: 20px; }

[data-path^="/components"] .IXdHe h3 {
  font-size: 18px; }

[data-path^="/components"] .IXdHe h4 {
  font-size: 16px; }

[data-path^="/components"] .IXdHe h5 {
  font-size: 15px; }

[data-path^="/components"] .IXdHe h6 {
  font-size: 14px; }

[data-path^="/components"] .IXdHe h1, [data-path^="/components"] .IXdHe h2, [data-path^="/components"] .IXdHe h3, [data-path^="/components"] .IXdHe h4, [data-path^="/components"] .IXdHe h5, [data-path^="/components"] .IXdHe h6 {
  color: #590aaa; }

[data-path^="/components"] .IXdHe pre[class*="language-"] {
  font-size: 11px; }

.-YhMq {
  width: 180px;
  border-right: 1px solid #eee; }
  .-YhMq dt {
    font-size: 14px; }
  .-YhMq dd {
    margin: 0;
    font-size: 13px; }
    .-YhMq dd a {
      padding: 8px 0;
      text-indent: 12px;
      display: block;
      position: relative;
      color: #590aaa; }

.-YhMq, ._2sqoD {
  margin-top: 20px;
  margin-bottom: 20px; }

._2sqoD {
  flex: 1;
  padding-left: 40px;
  padding-bottom: 20px; }
@keyframes zy0NX {
  0% {
    border-color: var(--OWL-UI-COLOR-PRIMARY-Light);
    border-top-color: var(--OWL-UI-COLOR-PRIMARY); }
  25% {
    border-color: var(--OWL-UI-COLOR-PRIMARY-Light);
    border-right-color: var(--OWL-UI-COLOR-PRIMARY); }
  50% {
    border-color: var(--OWL-UI-COLOR-PRIMARY-Light);
    border-bottom-color: var(--OWL-UI-COLOR-PRIMARY); }
  100% {
    border-color: var(--OWL-UI-COLOR-PRIMARY-Light);
    border-left-color: var(--OWL-UI-COLOR-PRIMARY); } }

@keyframes _1h6Rw {
  50% {
    border-left: 90px solid var(--OWL-UI-COLOR-PRIMARY-Light);
    border-right: 0 solid var(--OWL-UI-COLOR-PRIMARY-Light); } }

.zy0NX, ._1h6Rw {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.zy0NX {
  border: 20px solid var(--OWL-UI-COLOR-PRIMARY-Light);
  border-top-color: var(--OWL-UI-COLOR-PRIMARY);
  box-shadow: 0 0 0 1px var(--OWL-UI-COLOR-PRIMARY-Light);
  border-radius: 50%;
  animation: zy0NX infinite .8s linear; }

._1h6Rw {
  background: var(--OWL-UI-COLOR-PRIMARY-Light);
  border-right: 90px solid var(--OWL-UI-COLOR-PRIMARY);
  border-left: 0 solid var(--OWL-UI-COLOR-PRIMARY);
  box-shadow: 0 0 0 1px var(--OWL-UI-COLOR-PRIMARY-Light);
  animation: _1h6Rw infinite 1.5s linear; }
.-jQwv {
  position: relative;
  height: 120px; }
._1E_N4 {
  position: relative;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #b8bdbf;
  cursor: pointer;
  width: 200px; }
  ._1E_N4 ._1g91l {
    width: 12px;
    height: 12px;
    margin-top: -7px;
    border-bottom: 2px solid #b8bdbf;
    border-left: 2px solid #b8bdbf;
    transition: all .2s;
    transform: rotate(-45deg); }
  ._1E_N4 ._3HHJJ {
    min-width: 200px;
    position: absolute;
    display: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    left: -1px;
    z-index: 999; }
    ._1E_N4 ._3HHJJ > div {
      position: relative;
      padding: 6px 12px;
      color: #a0a0a0;
      white-space: nowrap; }
      ._1E_N4 ._3HHJJ > div:hover:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 4px;
        height: 100%;
        background: #b8bdbf; }
      ._1E_N4 ._3HHJJ > div:active {
        background: #b8bdbf;
        color: #f2f6f7; }
      ._1E_N4 ._3HHJJ > div:after {
        content: '';
        position: absolute;
        top: -34px;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none; }
  ._1E_N4._3FLsN ._1g91l {
    transform: rotate(-225deg);
    margin-top: 0; }
  ._1E_N4._3FLsN ._3HHJJ {
    display: block; }
  ._1E_N4._1DnHb {
    opacity: .5;
    cursor: no-drop;
    background-color: #dfe4e6; }
  ._1E_N4:focus {
    outline: none; }
  ._1E_N4 ._1ovbp {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden; }
  ._1E_N4 ._13-il {
    position: relative;
    display: flex;
    height: 34px;
    padding-left: 12px;
    padding-right: 12px;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between; }
  ._1E_N4 ._2D_pO {
    margin-left: 20px;
    float: right; }

._3U2Ql {
  color: red; }
._1GNwJ {
  display: flex;
  align-items: center;
  z-index: 1;
  cursor: pointer; }

._10Xil {
  width: 64px;
  padding: 4px;
  transition: all .3s;
  border-radius: 25px;
  background: var(--OWL-UI-COLOR-PRIMARY-DARK);
  display: flex; }
  ._10Xil ._1uZag {
    position: relative;
    font-size: 16px;
    line-height: 20px;
    display: none; }
  ._10Xil ._1f2Pr {
    position: relative;
    font-size: 16px;
    left: -13px;
    line-height: 20px;
    color: #fff;
    display: block; }
  ._10Xil ._1G61M {
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    transition: all .3s;
    top: .5px;
    left: 37px;
    position: relative;
    cursor: pointer; }

._3oEBo {
  width: 90px;
  padding: 7px;
  border: 3px solid #b8bdbf;
  transition: all .3s;
  border-radius: 25px;
  display: flex; }
  ._3oEBo ._1uZag {
    position: relative;
    line-height: 25px;
    display: none; }
  ._3oEBo ._1f2Pr {
    position: relative;
    left: 13px;
    line-height: 25px;
    color: #b8bdbf;
    display: block; }
  ._3oEBo ._1G61M {
    width: 27px;
    height: 27px;
    background: #b8bdbf;
    border-radius: 50%;
    transition: all .3s;
    left: 0;
    position: relative;
    cursor: pointer; }
    ._3oEBo ._1G61M:hover {
      background: var(--OWL-UI-COLOR-PRIMARY); }

._3HUq6 {
  display: none; }
  ._3HUq6:checked + ._10Xil {
    background: var(--OWL-UI-COLOR-PRIMARY); }
    ._3HUq6:checked + ._10Xil label {
      left: 3px;
      background: #fff; }
    ._3HUq6:checked + ._10Xil ._1f2Pr {
      display: none; }
    ._3HUq6:checked + ._10Xil ._1uZag {
      left: 15px;
      display: block;
      color: #fff; }

.uThs9 {
  display: none; }
  .uThs9:checked + ._3oEBo {
    border: 3px solid var(--OWL-UI-COLOR-PRIMARY); }
    .uThs9:checked + ._3oEBo label {
      left: 43px;
      background: var(--OWL-UI-COLOR-PRIMARY); }
    .uThs9:checked + ._3oEBo ._1f2Pr {
      display: none; }
    .uThs9:checked + ._3oEBo ._1uZag {
      left: -20px;
      display: block;
      color: var(--OWL-UI-COLOR-PRIMARY); }
._2ufX7 {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }

.lDTMs {
  margin-left: 30px; }

._2iN7S {
  margin-bottom: 15px; }
._1IuL8 {
  width: 110px;
  height: 68px;
  float: left;
  text-align: center;
  margin-bottom: 20px; }
  ._1IuL8 p {
    margin: 0; }
.kEzM0 {
  display: inline-block; }

._1sxc1 {
  transition: opacity .4s;
  position: absolute;
  left: -99em;
  top: -99em;
  white-space: nowrap;
  opacity: 0;
  display: none;
  pointer-events: none;
  background: #000;
  color: #eee;
  border-radius: 3px;
  padding: 4px 8px;
  z-index: 1111; }
  ._1sxc1:after {
    content: '';
    position: absolute;
    border: 5px solid transparent; }
  ._1sxc1[data-pos="down"]:after {
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
    border-bottom-color: #000; }
  ._1sxc1[data-pos="right"]:after {
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-right-color: #000; }
  ._1sxc1[data-pos="left"]:after {
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-left-color: #000; }
  ._1sxc1[data-pos="up"]:after {
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-top-color: #000; }
._1JXLi {
  position: relative; }

._4E9En {
  display: inline-block;
  cursor: pointer; }
  ._4E9En svg {
    vertical-align: middle; }
  ._4E9En:hover svg {
    fill: #ddd; }
.F_5Wq {
  display: inline-block;
  cursor: pointer; }
  .F_5Wq svg {
    vertical-align: middle; }
  .F_5Wq:hover svg[data-radio] {
    fill: #6c7173; }

._1bpI1 {
  position: relative; }
._1znPA {
  position: relative;
  min-width: 200px; }

._2y3V7 {
  padding: 10px;
  width: 100%;
  height: 34px;
  font-size: 14px; }
  ._2y3V7 input-placeholder {
    color: #b8bdbf; }

._2MB8F {
  position: absolute;
  top: -3px;
  right: -14px;
  color: #e6175c;
  font-size: 16px; }

._1qTPh {
  border: 1px solid #b8bdbf;
  color: #6c7173; }
  ._1qTPh:focus {
    outline: none;
    border-color: var(--OWL-UI-COLOR-PRIMARY-LIGHT);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) inset; }

._1kPIr {
  border: 1px solid #b9e617;
  color: #b9e617; }
  ._1kPIr:focus {
    outline: none;
    border-color: #b9e617;
    box-shadow: 0 0 0 2px rgba(185, 230, 23, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) inset; }

._1w9VL {
  border: 1px solid #e6175c;
  color: #e6175c; }
  ._1w9VL:focus {
    outline: none;
    border-color: #e6175c;
    box-shadow: 0 0 0 2px rgba(230, 23, 92, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) inset; }

._25SP3 {
  position: absolute;
  right: 15px;
  left: auto; }

._1UKWW {
  position: absolute;
  right: 15px;
  top: 7px; }

._3PeU- {
  position: absolute;
  right: 15px;
  top: 7px;
  cursor: pointer; }
._1VlL6 {
  display: flex;
  align-items: center; }

._3LxoW {
  padding: 8px 24px;
  margin-left: 30px;
  background-color: #8962d9;
  color: #fff; }

._3lifM {
  margin-left: 30px; }

._2Jylf {
  margin-top: 30px;
  width: 300px; }
:root {
  --OWL-UI-COLOR-PRIMARY: #8962d9;
  --OWL-UI-COLOR-PRIMARY-LIGHT: #cab6f2;
  --OWL-UI-COLOR-PRIMARY-DARK: #6b5499; }

._3kagF {
  display: flex;
  justify-content: center;
  line-height: 18px;
  height: 34px;
  padding: 8px 24px;
  border: 1px solid transparent;
  border-radius: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  color: #000;
  background-color: #eee;
  text-decoration: none;
  cursor: pointer; }
  ._3kagF:not(._2YAWg):hover {
    outline: none;
    text-decoration: none;
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1); }
  ._3kagF:not(._2YAWg):focus {
    outline: none; }

._2YAWg {
  cursor: default;
  opacity: .4; }

.QT4LL {
  background: none;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2); }
  .QT4LL:focus, .QT4LL:hover {
    color: rgba(0, 0, 0, 0.6);
    background-color: #eee;
    box-shadow: none; }

._2lv9w {
  color: #fff;
  background-color: var(--OWL-UI-COLOR-PRIMARY); }

._3P2NC:focus, ._3P2NC:hover {
  color: #fff;
  background-color: var(--OWL-UI-COLOR-PRIMARY); }

._3P2NC._2YAWg, ._3P2NC {
  color: var(--OWL-UI-COLOR-PRIMARY);
  border-color: var(--OWL-UI-COLOR-PRIMARY);
  background-color: transparent; }

._1p6_m {
  display: flex;
  vertical-align: bottom; }
  ._1p6_m ._3kagF {
    border-left-width: 0; }
    ._1p6_m ._3kagF[data-selected="1"] {
      color: #fff;
      background-color: var(--OWL-UI-COLOR-PRIMARY); }
    ._1p6_m ._3kagF:first-of-type {
      border-left-width: 1px; }
._1w_SC {
  display: flex; }
  ._1w_SC button {
    margin: 10px 10px 30px 0; }

._1-XP_ {
  display: flex;
  align-items: center;
  margin-top: 10px; }

._15BA5 {
  margin-right: 20px; }

._2bgJ6 {
  width: 50%; }
@charset "UTF-8";
._1CYuE {
  height: 0; }

._2bOjj {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  overflow: auto; }

._14m81 {
  display: inline-block;
  left: 50%;
  top: 120px;
  border: 1px solid #ccc;
  padding: 20px;
  background: #fff;
  position: relative;
  transform: translateX(-50%); }

._3ZTSP {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0 4px;
  font-size: 22px;
  cursor: pointer;
  color: #999; }
  ._3ZTSP:after {
    content: '\D7'; }
  ._3ZTSP:hover {
    color: #000; }

.bFl5s, ._2__05 {
  display: inline-block;
  cursor: pointer; }
._3PKaW {
  position: relative;
  width: 100%;
  border: 1px solid #dee4e6; }
  ._3PKaW [data-role="col"] {
    display: flex;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis; }

._14Ra5, [data-role="row"] {
  display: flex; }

._14Ra5 {
  overflow: hidden; }
  ._14Ra5 [data-role="row"] {
    width: 100%; }
  ._14Ra5 [data-role="col"] {
    position: relative;
    border-bottom: 1px solid #dee4e6;
    border-right: 1px solid #dee4e6;
    padding-left: 12px; }
    ._14Ra5 [data-role="col"] ._2eAH3 {
      right: 4px;
      top: 50%;
      left: auto;
      transform: translateY(-50%);
      display: inline-block;
      border-width: 9px; }
    ._14Ra5 [data-role="col"]:last-child {
      border-right: none; }
    ._14Ra5 [data-role="col"][data-sort] {
      cursor: pointer;
      position: relative; }
      ._14Ra5 [data-role="col"][data-sort]:hover:after {
        border-top-color: #666; }
      ._14Ra5 [data-role="col"][data-sort]:hover:before {
        border-bottom-color: #666; }
      ._14Ra5 [data-role="col"][data-sort]:after, ._14Ra5 [data-role="col"][data-sort]:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 12px;
        width: 0;
        height: 0;
        border: 5px solid transparent; }
      ._14Ra5 [data-role="col"][data-sort]:after {
        border-top-color: #ccc;
        margin-top: 1px; }
      ._14Ra5 [data-role="col"][data-sort]:before {
        border-bottom-color: #ccc;
        margin-top: -11px; }
    ._14Ra5 [data-role="col"][data-sort="1"]:after {
      display: none; }
    ._14Ra5 [data-role="col"][data-sort="1"]:before {
      margin-top: -8px;
      border-bottom-color: #666; }
    ._14Ra5 [data-role="col"][data-sort="0"]:before {
      display: none; }
    ._14Ra5 [data-role="col"][data-sort="0"]:after {
      border-top-color: #666;
      margin-top: -2px; }

.uQeuQ {
  overflow: auto; }
  .uQeuQ [data-role="col"] {
    justify-content: center;
    flex-flow: column wrap; }
  .uQeuQ [data-role="row"] {
    flex-flow: row; }
    .uQeuQ [data-role="row"]:nth-child(even) {
      background: #f2f6f7; }
    .uQeuQ [data-role="row"]:nth-child(odd) {
      background: #fff; }
    .uQeuQ [data-role="row"]:hover {
      background: #e6f0fa; }
      .uQeuQ [data-role="row"]:hover:nth-child(even) {
        background: #e6f0fa; }
._26xNs {
  font-size: 12px;
  font-weight: 400;
  display: inline;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 2px;
  border: 1px solid transparent;
  position: relative;
  vertical-align: middle;
  color: #3b3f40;
  background: #dfe4e6;
  padding: 4px 8px;
  letter-spacing: .01em;
  cursor: pointer; }

._22B_d {
  background: none;
  border: 1px solid rgba(107, 84, 153, 0.2); }
  ._22B_d:hover {
    color: rgba(59, 63, 64, 0.65); }

._2L_0u {
  background: var(--OWL-UI-COLOR-PRIMARY);
  color: #f2f6f7; }

._3ab55 {
  background: #e6175c;
  color: #f2f6f7; }

._2xlpf {
  background: #b9e617;
  color: #f2f6f7; }

.RjzHC {
  background: #ffd919;
  color: #3b3f40; }

._3ujmN {
  background: #f2f6f7;
  color: #3b3f40; }

._1BjTD {
  border: 1px solid var(--OWL-UI-COLOR-PRIMARY);
  background: transparent;
  color: var(--OWL-UI-COLOR-PRIMARY); }
  ._1BjTD:hover {
    color: var(--OWL-UI-COLOR-PRIMARY-Light); }

._17Gsl {
  border: 1px solid #e6175c;
  background: transparent;
  color: #e6175c; }
  ._17Gsl:hover {
    color: rgba(230, 23, 92, 0.65); }

.CFq2- {
  border: 1px solid #b9e617;
  background: transparent;
  color: #b9e617; }
  .CFq2-:hover {
    color: rgba(185, 230, 23, 0.65); }

._3csi6 {
  border: 1px solid #ffd919;
  background: transparent;
  color: #ffd919; }
  ._3csi6:hover {
    color: rgba(255, 217, 25, 0.65); }

._2Vb6D {
  border: 1px solid #f2f6f7;
  background: transparent;
  color: #f2f6f7; }
  ._2Vb6D:hover {
    color: rgba(242, 246, 247, 0.65); }

._1H85A {
  color: var(--OWL-UI-COLOR-PRIMARY); }

._2jCTd {
  color: #e6175c; }

._1rZ3m {
  color: #b9e617; }

._1g3_- {
  color: #ffd919; }

._1MWVK {
  color: #f2f6f7; }

._1yGyd {
  padding: 0;
  background: none;
  font-weight: 800;
  letter-spacing: .02em; }

.zhh4z {
  padding: 4px 10px;
  border-radius: 14px; }
._25hPt {
  width: 600px;
  display: flex;
  justify-content: space-between;
  margin: 20px; }

._1scYU {
  background-color: #222;
  width: 100px;
  text-align: center; }
._1mx7U {
  width: 46%;
  border: 1px solid #b8bdbf; }
  ._1mx7U ._32Ctd {
    margin: 12px 12px 16px 12px; }

._2EWkq {
  display: flex; }

._3hqV0 {
  max-height: 300px;
  min-height: 300px;
  overflow-x: hidden;
  overflow-y: auto; }

.J5oNV {
  padding: 0 10px;
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  cursor: pointer; }
  .J5oNV:nth-of-type(odd) {
    background: #fafafb; }
  .J5oNV ._2htOK {
    width: 90%;
    color: #919799;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .J5oNV:hover {
    background-color: var(--OWL-UI-COLOR-PRIMARY-Light); }
    .J5oNV:hover ._2htOK {
      color: #fff; }

._1BMT0 {
  background-color: #ffd919; }

._3E-GF {
  display: flex;
  flex-direction: column;
  width: 8%;
  padding: 0 12px; }
  ._3E-GF span {
    text-align: center; }
  ._3E-GF ._3yha2 {
    margin-top: 100px;
    cursor: pointer; }
  ._3E-GF ._1xQUZ {
    margin-top: 80px;
    cursor: pointer; }
._3deKe {
  width: 650px; }

._1czr2 {
  margin-top: 30px; }
[data-role="tab-head"] {
  padding: 12px 36px 16px 36px;
  cursor: pointer; }
  [data-role="tab-head"][data-selected="1"] {
    border-bottom: 2px solid var(--OWL-UI-COLOR-PRIMARY);
    cursor: default; }

[data-role="tab-content"][data-selected="1"] {
  display: block; }

[data-role="tab-content"][data-selected="0"] {
  display: none; }

.Xvmh- {
  display: flex;
  font-size: 20px;
  line-height: 26px;
  border-bottom: 1px solid #dfe4e6; }
@charset "UTF-8";
._166Xm {
  display: flex; }
  ._166Xm[data-align="center"] {
    justify-content: center; }
  ._166Xm[data-align="right"] {
    justify-content: flex-end; }
  ._166Xm [data-page] {
    cursor: pointer; }
    ._166Xm [data-page]:after {
      content: attr(data-page); }
  ._166Xm [data-page="..."] {
    cursor: default; }
  ._166Xm [data-page="prev"]:after {
    content: '\2190'; }
  ._166Xm [data-page="next"]:after {
    content: '\2192'; }
  ._166Xm ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex; }
  ._166Xm li {
    padding: 8px 16px;
    position: relative; }
    ._166Xm li._3nph_:before, ._166Xm li:hover:before {
      position: absolute;
      height: 2px;
      bottom: 2px;
      left: 0;
      width: 100%;
      background: var(--OWL-UI-COLOR-PRIMARY); }
._2SoeS {
  display: flex; }
  ._2SoeS > div:last-child {
    margin-right: 0 !important; }

.wwwnn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }

._13VER {
  display: flex;
  justify-content: space-between; }
  ._13VER:after, ._13VER:before {
    content: none; }
.uW6fe {
  margin: 0;
  padding: 0;
  background: #d9b8fb;
  text-align: center;
  color: #fff;
  padding: 4px; }

._2OnZi > div {
  margin-bottom: 20px; }

._3BcYC {
  height: 80px;
  border: 1px solid #ccc; }

._1bYI3 {
  border: 1px solid #ccc; }
  ._1bYI3 p {
    margin: 0;
    padding: 0;
    font-size: 12px; }

._1CL1r {
  width: 76px;
  height: 76px;
  background: #ccc;
  text-align: center; }
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

/* Document
   ========================================================================== */

html {
  font-family: sans-serif; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}
*, *:after, *:before {
  box-sizing: border-box; }

*:after, *:before {
  content: ''; }

body {
  font: 14px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #393939;
  background: #fff;
  overflow-y: scroll; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

footer {
  margin-top: 40px;
  color: #590aaa; }
  footer > div {
    padding-top: 12px;
    padding-bottom: 20px;
    border-top: 1px solid #590aaa; }

.main {
  padding-top: 55px;
  min-height: calc(100vh - 61px - 55px); }

.w1120 {
  width: 1120px;
  margin: 0 auto; }

.fbox {
  display: flex; }
  .fbox.-sb {
    justify-content: space-between; }
  .fbox.-around > div:nth-child(1) {
    flex: 1; }

.btn {
  cursor: pointer;
  text-decoration: none;
  font-size: .8rem;
  display: inline-block;
  padding: 8px 12px;
  border-radius: .2rem;
  color: white;
  border: 1px solid white;
  font-weight: 500;
  transition: all .3s; }

.btn:hover {
  color: #590aaa;
  background-color: white; }

._3DX-X a {
  display: inline-block;
  margin-right: 4px; }
footer li {
  margin-left: 8px;
  display: flex;
  align-items: center; }

footer ._2xhSk {
  width: 98px; }

footer svg {
  width: 24px;
  vertical-align: middle;
  margin-left: 8px; }

footer a {
  color: #590aaa; }
header {
  background: #590aaa;
  padding: 4px 0;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 878787; }
  header ul {
    font-size: 14px;
    display: flex;
    align-items: center; }
    header ul a {
      opacity: .7;
      padding: 0 4px;
      position: relative; }
      header ul a:after {
        transition: all .3s;
        width: 0;
        left: 50%;
        transform: translateX(-50%); }
      header ul a:hover {
        opacity: 1; }
        header ul a:hover:after {
          position: absolute;
          bottom: -5px;
          height: 2px;
          width: 100%;
          background: #fff; }
  header li {
    margin-left: 12px; }
  header svg {
    vertical-align: -6px;
    margin-right: 4px; }
  header h1 {
    font-family: Raleway;
    font-size: 16px;
    font-weight: inherit; }
  header a {
    color: #fff; }

._1LgP6 {
  font-family: 'Aref Ruqaa';
  font-size: 13px;
  margin-left: 8px;
  opacity: .7; }
